---
excerpt : "🔥 Just Do Your Best On It 🔥"
layout: archive
sidebar_main: ture
author_profile: true
entries_layout: grid
header:
    overlay_image: /assets/images/overlay.jpeg
    overlay_filter: 0.1 # same as adding an opacity of 0.5 to a black background
    caption: "Photo credit: [**CarefreeLife98**](https://github.com/CarefreeLife98)"
---

<big>
    <b>
      <span style="font-family: 'KCC-Ganpan';">반갑습니다! DevOps를 지향하는 Carefree Life🌿 입니다!</span> 👋🏻
      <br>
    </b>
</big>
<br>


<p><img src="https://capsule-render.vercel.app/api?type=waving&amp;text=CarefreeLife!&amp;color=gradient" alt="header"></p>
<style>
  .center-image {
    display: flex;
    justify-content: center;
  }
</style>

<p class="center-image">
  <img src="/assets/images/about.jpg" alt="about_Process" width="60%" min-width="200px" itemprop="image">
  <a href="https://github.com/anuraghazra/github-readme-stats">
    <img src="https://github-readme-stats.vercel.app/api?username=carefreelife98" alt="Carefreelife&#39;s GitHub stats">
  </a>
</p>

<h2 id="dev">Dev</h2>
<blockquote>
  <p><strong>Programming Languages</strong> <br>
  <img src="https://img.shields.io/badge/JAVA-E6522C?style=for-the-badge&logo=java&logoColor=white">
  <img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white"></p>
  <p><strong>Database</strong> <br>
  <img src="https://img.shields.io/badge/MySQL-4479A1?style=for-the-badge&logo=MySQL&logoColor=white">
  <img src="https://img.shields.io/badge/MariaDB-003545?style=for-the-badge&logo=MariaDB&logoColor=white"></p>
  <p><strong>FrameWork</strong> <br>
  <img src="https://img.shields.io/badge/SpringBoot-6DB33F?style=for-the-badge&logo=SpringBoot&logoColor=white"></p>
  <p><strong>CI/CD</strong> <br>
  <img src="https://img.shields.io/badge/Github Actions-2088FF?style=for-the-badge&logo=githubactions&logoColor=white">
  <img src="https://img.shields.io/badge/ArgoCD-EF7B4D?style=for-the-badge&logo=argo&logoColor=white">
  <img src="https://img.shields.io/badge/TerraformCloud-7B42BC?style=for-the-badge&logo=terraform&logoColor=white"> <br></p>
</blockquote>
<h2 id="ops">Ops</h2>
<blockquote>
<p><strong>Cloud Infra</strong> <br>
<img src="https://img.shields.io/badge/aws-FF9900?style=for-the-badge&logo=aws&logoColor=white">
<img src="https://img.shields.io/badge/Terraform-7B42BC?style=for-the-badge&logo=terraform&logoColor=white"></p>
<p><strong>Monitoring</strong> <br>
<img src="https://img.shields.io/badge/Istio-466BB0?style=for-the-badge&logo=istio&logoColor=white">
<img src="https://img.shields.io/badge/Prometheus-E6522C?style=for-the-badge&logo=prometheus&logoColor=white">
<img src="https://img.shields.io/badge/Grafana-F46800?style=for-the-badge&logo=grafana&logoColor=white"></p>
<p><strong>Orchestration</strong> <br>
<img src="https://img.shields.io/badge/Docker-2496ED?style=for-the-badge&logo=Docker&logoColor=white">
<img src="https://img.shields.io/badge/Kubernetes-326CE5?style=for-the-badge&logo=Kubernetes&logoColor=white">
<img src="https://img.shields.io/badge/EKS-FF9900?style=for-the-badge&logo=amazoneks&logoColor=white"></p>
<p><strong>Registry</strong> <br>
<img src="https://img.shields.io/badge/github-181717?style=for-the-badge&logo=github&logoColor=white"></p>
</blockquote>

<br><br>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Traveling of CarefreeLife" }}</h3>

<div class="grid__wrapper">
{% for post in paginator.posts %}
{% include archive-single.html type="grid" %}
{% endfor %}
</div>
{% include paginator.html %} 