---
layout: archive
---
<big>
  <b>
    <span style="font-family: 'KCC-Ganpan';">반갑습니다! DevOps를 지향하는 Carefree Life🌿 입니다!</span> 👋🏻
    <br>
  </b>
</big>
<br>

<img src="/assets/images/about.jpg" alt="about_Procdess" width="100%" min-width="200px" itemprop="image">
{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
