---
layout: archive
---
<big>
  <b>
    <span style="font-family: 'KCC-Ganpan';">반갑습니다! DevOps를 지향하는 Carefree Life🌿 입니다!</span> 👋🏻
    <br>
  </b>
</big>
<br>

<!-- <img src="/assets/images/about.jpg" alt="about_Procdess" width="100%" min-width="200px" itemprop="image">
{{ content }} -->
<p><img src="https://capsule-render.vercel.app/api?type=waving&amp;text=CarefreeLife!&amp;color=gradient" alt="header"></p>
<p><br><br></p>
<h2 id="today-s-carefree">Today&#39;s Carefree</h2>
<p><a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2FCarefreeLife98&amp;count_bg=%23ADAB92&amp;title_bg=%23555555&amp;icon=github.svg&amp;icon_color=%23E7E7E7&amp;title=Wish+you+all+Carefree&amp;edge_flat=false" alt="Hits"></a></p>
<p><br></p>
<p><a href="https://github.com/anuraghazra/github-readme-stats"><img src="https://github-readme-stats.vercel.app/api?username=carefreelife98" alt="Carefreelife&#39;s GitHub stats"></a></p>
<p><br><br></p>
<pre><code>🧑🏻‍💻 Once I<span class="hljs-symbol">'ve</span> Used 🧑🏻‍💻
</code></pre><h2 id="dev">Dev</h2>
<p>&gt;</p>
<blockquote>
<p><strong>Programming Languages</strong> <br>
<img src="https://img.shields.io/badge/JAVA-E6522C?style=for-the-badge&logo=java&logoColor=white">
<img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white"></p>
<p><strong>Database</strong> <br>
<img src="https://img.shields.io/badge/MySQL-4479A1?style=for-the-badge&logo=MySQL&logoColor=white">
<img src="https://img.shields.io/badge/MariaDB-003545?style=for-the-badge&logo=MariaDB&logoColor=white"></p>
<p><strong>FrameWork</strong> <br>
<img src="https://img.shields.io/badge/SpringBoot-6DB33F?style=for-the-badge&logo=SpringBoot&logoColor=white"></p>
<p><strong>CI/CD</strong> <br>
<img src="https://img.shields.io/badge/Github Actions-2088FF?style=for-the-badge&logo=githubactions&logoColor=white">
<img src="https://img.shields.io/badge/ArgoCD-EF7B4D?style=for-the-badge&logo=argo&logoColor=white">
<img src="https://img.shields.io/badge/TerraformCloud-7B42BC?style=for-the-badge&logo=terraform&logoColor=white"> <br></p>
</blockquote>
<h2 id="ops">Ops</h2>
<blockquote>
<p><strong>Cloud Infra</strong> <br>
<img src="https://img.shields.io/badge/aws-FF9900?style=for-the-badge&logo=aws&logoColor=white">
<img src="https://img.shields.io/badge/Terraform-7B42BC?style=for-the-badge&logo=terraform&logoColor=white"></p>
<p><strong>Monitoring</strong> <br>
<img src="https://img.shields.io/badge/Istio-466BB0?style=for-the-badge&logo=istio&logoColor=white">
<img src="https://img.shields.io/badge/Prometheus-E6522C?style=for-the-badge&logo=prometheus&logoColor=white">
<img src="https://img.shields.io/badge/Grafana-F46800?style=for-the-badge&logo=grafana&logoColor=white"></p>
<p><strong>Orchestration</strong> <br>
<img src="https://img.shields.io/badge/Docker-2496ED?style=for-the-badge&logo=Docker&logoColor=white">
<img src="https://img.shields.io/badge/Kubernetes-326CE5?style=for-the-badge&logo=Kubernetes&logoColor=white">
<img src="https://img.shields.io/badge/EKS-FF9900?style=for-the-badge&logo=amazoneks&logoColor=white"></p>
<p><strong>Registry</strong> <br>
<img src="https://img.shields.io/badge/github-181717?style=for-the-badge&logo=github&logoColor=white"></p>
</blockquote>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single2.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
